{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>Avaliação Semestral</h1>
    <p><strong>Aluno:</strong> {{ aluno }}</p>
    <p><strong>Prontuário:</strong> {{ prontuario }}</p>
     <hr style="border: 0.5px solid #000; margin: 20px 0;">
</div>

<style>
    /* Alinhar texto à esquerda nesta página */
    body, .container-fluid, .content, #local-time, h1, p {
        text-align: left; /* Alinha todos os textos à esquerda */
    }

    /* Tamanho menor do título */
    h1 {
        font-size: 30px;  /* Diminuir o tamanho da fonte do título */
        margin-bottom: 25px; /* Aumenta a separação entre o título e o conteúdo */
    }

    /* Ajustar a separação entre o título e a barra de navegação */
    .navbar {
        margin-bottom: 50px; /* Ajusta a separação entre a navbar e o conteúdo */
    }
</style>

{% endblock %}
